nbproject
*~
._*
.~lock.*
.buildpath
.DS_Store
.idea
.run
.project
.settings
.vscode
atlassian-ide-plugin.xml
jm_behat_report.html
.php_cs.cache
.phpunit.result.cache

/build/
/test-results/
/tests/.phpunit.cache
/vendor/
/tmp-phpqa/

local.env

.trivy-cache
