AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=localstack
AWS_SECRET_ACCESS_KEY=localstack
AWS_S3_ENDPOINT_URL=http://localstack:4572
AWS_S3_USE_PATH_STYLE_ENDPOINT=true
AWS_S3_BUCKET=localbucket
AWS_SQS_ENDPOINT_URL=http://localstack:4576/
AWS_SQS_QUEUE_URL=http://localstack:4576/queue/notify
AWS_SQS_QUEUE_WAIT_TIME=10

OPG_NOTIFY_API_KEY=8aaa7cd4-b7af-4f49-90be-88d4815ecb72
# Delete this if you'd like to access PROD or TEST notify - this default is a mock server
OPG_NOTIFY_BASE_URL=http://mock-notify:4010
OPG_NOTIFY_QUEUE_CONSUMER_SLEEP_TIME_SECONDS=1
OPG_SIRIUS_UPDATE_STATUS_ENDPOINT=http://mock-sirius:4011/update-send-status
