openapi: 3.0.0
info:
  title: Notifications API
  description: Backwards engineered and limited to what we need to mock; deprecate if notifications provide an api spec
  version: 0.1.0
servers:
  - url: https://api.notifications.service.gov.uk
    description: Main (production) server
paths:
  "/v2/notifications/letter":
    post:
      summary: Send a precompiled letter
      description: something
      responses:
        '201':
          description: Simple post example - note that request body isn't mocked
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  postage:
                    type: string
                    default: second
                  reference:
                    type: string
                    default: client-defined-reference

  "/v2/notifications?reference={reference}":
    get:
      summary: Get the status of multiple messages
      description: https://docs.notifications.service.gov.uk/php.html#get-the-status-of-multiple-messages
      parameters:
        - name: reference
          in: query
          required: true # not in the actual api
          schema:
            type: string
      # https://swagger.io/docs/specification/describing-responses/
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
              examples:
                one:
                  summary: No matching notification found
                  value:
                    notifications:
                      - id: 9a83b0bb-a534-41a5-849f-dbc39aee4d3d
                none:
                  summary: Return a notification
                  value:
                    notifications: []

components:
  # https://swagger.io/docs/specification/components/
  schemas:
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        reference:
          type: string
          default: client-defined-reference
        status:
          type: string
          enum:
            - sending
            - delivered
            - permanent-failure
            - temporary-failure
            - technical-failure
          default: sending
