name: Generate Scan Report

on:
  schedule:
    # Every Friday at 16:30 UTC
    - cron: '30 16 * * 5'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ministryofjustice/opg-repository-scanner@71b6f17bc23c826d4755624072bd289317368da7 # v2.0.18
