name: Generate Scan Report

on:
  schedule:
    # Every Friday at 16:30 UTC
    - cron: '30 16 * * 5'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ministryofjustice/opg-repository-scanner@71b6f17bc23c826d4755624072bd289317368da7 # v2.0.18
